
* {font-family: "arial black" Gadget, sans-serif;}

/*div * {font-family: "Comic Sans MS", cursive, sans-serif;}
*/
body{
  margin: 0px;
  background :whitesmoke;
  font-family: Verdana, Georgia, serif;
  font-size: 14px;
}

a{
  text-decoration: none;
}

/*a:hover{color: blue}
a:active{color: red}
a:visited{color: #989898} */

header{
   /* position: fixed;
   This will cause the header to overlap the fellowing section **
    */
   position: sticky;
   top: 0px;
}

.header-section, header{
   background-color: white;
   width: 100%;
   margin: 0px;
}

.Header-container{
    background-color: #4d27b003;
    width: 100%;
    height: 50px;
    margin: 0px;
    border-top: 3px solid #F48024;
    display: flex;
    align-items: center;
}

.header.a{
  text-decoration: none;
}

.stack-overflow-logo{
   width: 150px;
   height: 30px;
}

.stack-overflow-log a{
   padding: 0 8px;
}

.log-name{
       margin: 0px 0px 0px 20px;
}

.search-bar{
   margin: 0px 20px 0px 20px;
   border-width: 1px;
   width: 210px;
   height: 30px;
   border-radius: 3px;
   background-color: #fff;

}

.search-icon-btn{
  position: relative;
  background-color: #66bfff;
  margin-left: -80px;
  width: 55px;
  height:35px;
  border-radius: 3px;

}

.search-icon{
  width: 20px;
  height: 20px;
}

.container-new{
  margin: 0px 0px 0px 20px;
}

.container-icon{
    position: absolute;
    right: 0px;
}

.container-icon a:hover{
   color: blue;
   background: #ddd;
}

/*.lite-icon{
   display: flex;
   flex-wrap: nowrap;
}*/

.lite-icons{
  display: flex;
  margin: 0px 20px 0px 20px;
}

.lite-icons-btn{
  display: flex;
  margin: 0px 0px 0px 20px;
}

.list-icons{
    width: 25px;
    height: 23px
}

.items{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 10px 0px 10px;
}

.sign-up-header-btn{
   width: 69px;
   height: 30px;
   font-weight: normal;
   border-radius: 3px;
   color: white;
   background-color: #0095ff;
   border: 1px solid #07c;
   box-shadow: inset 0 1px 0 #66bfff;
   box-sizing: border-box;
   position: relative;
}

.login-link-header{
    width: 50px;
    height: 25px;
    font-weight: normal;
    background: none;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    color: #07C;
    background-color: transparent;
    position: relative;
}

/* Style for Section B */

.container-upperbase{
   padding: 32px 15px;
   /*width: 100%;*/
   display: flex;
   background-color: #117bf3; /*#0095ff;*/
   font-family: Verdana, Georgia, serif;
   color: white;
}

.left-content{
   width: 50%;
   margin-top: 30px;
   margin:0px 0px 0px 10px;
}

h1{
   margin-top: 20px;
   font-family: Verdana, Georgia, serif;
}

.signup-input{
   flex: 1;
   border-width: 0px;
   padding-left: 5px;
   border-radius: 0 3px 3px 0;
}


.display{
   display: flex;
   width: 90%;
   margin: 15px auto;
}

.display-item{
   width: 130px;
   background: #fbf9f9;
   border: 0px;
   border-radius: 3px 0 0 3px;
}

.display-item> p{
   color: black;
   text-align: left;
   margin-left: 10px;

}

.loginBtn-facebook{
   font-size: medium;
   color: white;
   background: #0000ff45;
   width: 90%;
   height: 40px;
   border-radius: 5px;
   border-width: 0;
}

.loginBtn-google{
   display: flex;
   align-items: center;
   align-content: center;
   font-size: medium;
   color: black;
   background: white;
   width: 90%;
   height: 40px;
   margin-right: 10px;
   border-radius: 5px;
   border-width: 0;
}

.icon{
   width:20px;
   height:20px;
}

.text-centered{
    margin: 0 auto;
    text-align: center;
}

.sign-up-btn{
   color: #FFF;
   background-color: #117bf3;
   border: 1px solid white;
   border-radius: 5px;
   width: 200px;
   height: 40px;
   margin: 0;
}

.signup-btn{
   align-items: center;
}

.signup-paragraph{
   font-size: 11px;
   color: rgba(255,255,255,0.5);
   padding-left: 24px;
}
.signup-paragraph a{
    text-decoration: none;
    color: white;
}

.botton-section{
   /*width: 100%;*/
   color: #fff;
   background-color: #0b6cda;
   padding: 15px;
   background-image: linear-gradient(to right, #055de8 0, #0e79cf 100%)
}

.botton-section a{
   color: #fff;
}

.container{
   width: 100%;
   display: flex;
   margin: 10px;
   background-color: #fff;

}

.nav-link-image{
   width: 18px;
   height: 15px;
}

.link-image{
   display: flex;
}

.container{
   /*max-width: 1264px;*/
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin: 0;
}

.left-side-bar{
   flex: 1 2 0;
   box-sizing: content-box;
   position: static;
   font-size: 12px;
   color: #535a60; 
   width: 15%;
   min-height: 100%;
   border-right: 1px solid;
   padding: 0;
}

.left-side-bar a{
   padding: 10px 0px;
   color: #535a60; /*#f1f1f1;*/
}

.left-side-bar a:hover {
   color: black;
}

.left-side-bar a:active{
   font-weight: bold;
   background: rgba(12,13,14,0.05);
   color: #0C0D0E;
   border-right: 3px solid #F48024;
}

.nav-link li{
   list-style-type: none;
}

.learn-more-box{
   width: auto;
   border: 1px solid #535a60;
   border-radius: 2px;
}

.box{
   border: 1px solid blue;
}

.main-content-wrapper{
   flex: 3 auto !important;
   width: 100%;
   padding: 0px;
   display: flex;
   flex-wrap: wrap;
}

.mainbar{
   margin: 0;
  /* padding: 20px;*/
   flex: 4;
   font-size: 100%;
}

.sidebar{
   flex: 1;
}

.mainbar-content{
   display: flex;
}

.mainbar-content h1{
  flex: 3;
  margin: 0px;
  padding: 20px;
}

.question-nav{
   padding-top: 20px;
   margin: 15px 5px 10px 5px;
}

.bg-bt{
   background-color: #0095ff;
   box-sizing: content-box;
   border: 1px solid #07c;
   border-radius: 3px;
   padding: 5px;
   color: #FFF;
   font-size: 1rem;
   align-content: flex-end;
}

.question-nav a{

}

.grid{
   display: flex;
   border-bottom: 1px solid #3b4045;
}

.empty-cell{
   flex: 1;
}


.show-case{
    padding: 20px 0;
    display: flex;
}

.s-btn{
   padding: .6em;
   border-top: 1px solid #3b4045;
   border-right: 1px solid #3b4045;
   border-bottom: 1px solid #3b4045;
   font-weight: 400;
   /*line-height: 1.15384615;*/
   cursor: pointer;
}

.s-btn-fl{
   border-left: 1px solid #3b4045;
   border-radius: 3px 0 0 3px;
   background-color: #ddd;
}

.s-btn-lf{
    border-radius: 0 3px 3px 0 ;
}

.tb-show{

}
.show.case a{
   border: 1px solid #3b4045;
}

/*font color: #3b4045*/

footer{
   width: 100%;
   background-color: #242729;
   background-position: top-left;
   background-repeat: no-repeat;
   background-size: auto;
   color: #6a737c;
}

.footer-container{
   display: flex;
   flex-flow: row wrap;
   max-width: 1264px;
   margin: 0 auto;
   padding: 32px 12px 12px 12px;
}

.footer-logo{
   width: 32px;
   height: 37px;
}

.site-logo{
   flex: 0 0 64px;
   margin: -12px 0 32px 0;
}

.footer-nav-site{
   display: flex;
   color: #6a737c;
}

.sub-menu{
   flex: 1 0 auto;
   color: #fff;
}

.sub-menu ul,a{
   list-style: none;
   color: #6a737c;
   line-height: 2.2em;
}

.footer-nav-site a:hover{
   color: #bbc0c4;
}

.ftitle{
   font-size: 110%; font-weight: bold;
   margin-bottom: 12px;max-width: 230px;
   color: #bbc0c4;line-height: 1.30769231;text-align: center;
}

.ftitle a{
   font-size: bold;
   margin-bottom: 12px;
   color: #bbc0c4;
}

.footer-copyright{
   display: flex;
   flex-flow: column;
}

.ul-copyright{
   flex: 1 0 auto;
   display: flex;
   list-style-type: none;
   margin: 10px;
}

.ul-copyright li{
   display: flex;
   list-style-type: none;
   margin: 12px;
   font-size: 100%;
}

.ul-copyright a:hover{
   color: #bbc0c4;
}

.pra-copy{
   flex: 1 0 auto;
}

.question-list{
   display: flex;
   width: 100%;
   padding-left: 8px;
   box-sizing: border-box;
   border-bottom: 1px solid #eff0f1;
}

.question-summary{
   float: none;
   display: flex;   
   flex-wrap: nowrap;
   align-items: flex-start;
   margin-right: 0;
   padding: 0 8px 0 0;
   box-sizing: content-box;
}

.summary{
  display: flex;
  flex-direction: column;
}

.summary h3{
   font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
   line-height: 1;
   margin-bottom: 0.1em;
}

.h3-summary a{
   color: #07C;
   line-height: 1.3;
   margin-bottom: 1.2em;
   font-size: 16px;
   font-weight: 400;  
}

.tags{
   position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    border-radius: 3px;
    transition: all .15s ease-in-out;
}
/*a {
    color: #07C;
    text-decoration: none;
    cursor: pointer;
}*/

.details-of-question{
   display: flex;
}
